body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

}

:root {
  --c-primary-rgb: 50, 90, 50;
  --c-button-rgb: 30, 70, 40;
  --c-button-hover-rgb: 30, 60, 30;
  --c-primary-lightest-rgb: 130, 160, 140;
  --c-primary-light-rgb: 100, 130, 110;
}